@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #fafafb;
  --foreground: #18181b;
  --primary: #f1672c;
  --primary-foreground: #ffffff;
  --secondary: #f9fafb;
  --secondary-foreground: #344054;
  --border: #eaecf0;
  --input: #d0d5dd;
  --ring: #f1672c;
  --muted: #f9fafb;
  --muted-foreground: #667085;
  --radius: 10px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
