@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: var(--color-background-primary);
  --foreground: var(--color-content-primary);
  --primary: var(--color-brand-primary-main);
  --primary-foreground: var(--color-content-always-light);
  --secondary: var(--color-background-secondary);
  --secondary-foreground: var(--color-content-secondary);
  --border: var(--color-border-primary);
  --input: var(--color-border-secondary);
  --ring: var(--color-brand-primary-soft);
  --muted: var(--color-background-secondary);
  --muted-foreground: var(--color-content-tertiary);
  --radius: 16px;
}

@theme inline {
  --font-sans: var(--font-family-base);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
